* {
    box-sizing: border-box;
}


.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 0 30px;
    position: relative;
    height: 100%;
    margin: 0;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 5%;
}
